body{
    margin: 0 auto;
    width: 900px;
    background-color: #F0F2F5;
}
div.form{
    vertical-align: top;
    margin-top: 150px;
    padding: 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#logo{
    color: #3279EA;
    margin-top: 100px;
    font-weight: 650;
}

div.card {
    width: 162px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
}

div.header {
    background-color: #F5F6F7;
    color: white;
    padding: 50px;
    font-size: 40px;
    border-radius: 10px;
}

.addaccount {
    font-size: 20px;
    text-decoration: none;
}

.add{
    font-size: 25px;
    font-weight: 700;
    border-radius: 50%;
    color:white;
    background-color: #3279EA;
    border: none;
    padding: 5px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
}

/* footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: grey;
    text-align: left;
    font-size: 12px;
    padding: 8px 0px 0px 20px;
} */

p.message{
    color: rgb(212, 93, 93);
}

no-padding{
    padding:0px;
}
